<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>望山而川</title>

		<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">

		<style>
			.hero {
				background: #eee;
				padding: 20px;
				border-radius: 10px;
				margin-top: 1em;
			}

			.hero h1 {
				margin-top: 0;
				margin-bottom: 0.3em;
			}

			.c4 {
				padding: 10px;
				box-sizing: border-box;
			}

			.c4 h3 {
				margin-top: 0;
			}

			.c4 a {
				margin-top: 10px;
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
				<a class="pagename current" href="{% url 'home' %}">望山而川</a>
				<a href="#">F**kingPM</a>
				<a href="blog_post_list/">I Am Your Father</a> 
				<a href="https://996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg" alt="996.icu"></a>
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
		<div class="container">
			<div class="hero">
				<h1>{{ main_msg }}</h1>
				<p>一个是我的你,一个是卖萌的猫</p>
                                <p>阁下来自: {{ REMOTE_ADDR }}</p>
				<a class="btn btn-b" href="/graphql">请戳我</a>
			</div>
			<div class="row">
    				<div class="col c4"><h3>996ICU!</h3>中国大陆工时规管现况（标准工时）： 一天工作时间为 8 小时，平均每周工时不超过 40 小时；加班上限为一天 3 小时及一个月 36 小时，逾时工作薪金不低于平日工资的 150%。而一周最高工时则为 48 小时。平均每月计薪天数为 21.75 天。<br><a href="https://996.icu/#/zh_CN" class="btn btn-sm btn-a">996ICU!</a></div>
        			<div class="col c4"><h3>Requests: HTTP for Humans™</h3>Requests 唯一的一个非转基因的 Python HTTP 库，人类可以安全享用。<br>警告：非专业使用其他 HTTP 库会导致危险的副作用，包括：安全缺陷症、冗余代码症、重新发明轮子症、啃文档症、抑郁、头疼、甚至死亡。<br><a href="http://cn.python-requests.org" class="btn btn-sm btn-b">CN Python Requests</a></div>
				<div class="col c4"><h3>Vue:渐进式 JavaScript 框架</h3>Vue (读音 /vjuː/，类似于 view) 是一套用于构建用户界面的渐进式框架。与其它大型框架不同的是，Vue 被设计为可以自底向上逐层应用。Vue 的核心库只关注视图层，不仅易于上手，还便于与第三方库或既有项目整合。另一方面，当与现代化的工具链以及各种支持类库结合使用时，Vue 也完全能够为复杂的单页应用提供驱动。<br><a href="https://cn.vuejs.org/" class="btn btn-sm btn-c">VueJS</a></div>
				</div>
		</div>
	</body>
</html>

