<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}CC的日记{% endblock %} @cc</title>

		<link href="//mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
				<a class="pagename current" href="/">望山而川</a>
                                <a href="#">F**kingPM</a>
                                <a href="/blog/">I Am Your Father</a>
                                <a href="https://996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg" alt="996.icu"></a>
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
		<div class="container">
			<h1>{% block blog-title %} blog-title {% endblock %}</h1>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>

